<app-progress-bar *ngIf="loading"></app-progress-bar>
<div  *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de Citas</h4>
    <button type="button" class="btn btn-primary" routerLink="/dashboard/addCita" >Agregar Cita</button>
  </div>
  <table *ngIf="listCitas.length > 0" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Procedimiento</th>
        <th scope="col">Celular</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listCitas">
        <th> {{ item.id }} </th>
        <td> {{item.nombre}} </td>
        <td> {{item.correo}} </td>
        <td> {{item.fecha}} </td>
        <td> {{item.hora}} </td>
        <td> {{item.procedimiento}} </td>
        <td> {{item.celular}} </td>
        <td>
          <button [routerLink]="['/dashboard/editCita',item.id]" type="button" class="btn btn-outline-success  ms-4">Editar</button>
          <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-outline-danger ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h4  *ngIf="listCitas.length == 0">No hay Citas Para Mostrar!</h4>
</div>
